---

const {infoUno,infoDos} = Astro.props

---

<div class="w-72 h-auto p-5 flex flex-col rounded-xl shadow-xl justify-center items-center gap-5 md:w-[30rem]">
    <i class="ti ti-phone text-white p-3 rounded-full bg-twoTitleColor md:px-4 md:text-3xl"></i>
    <p class="text-center md:text-xl">{infoUno}</p>
    <p class="text-center md:text-xl">{infoDos}</p>
</div>